!!! Strict
%html
  %head
    %title Yellow Shovel
    %link{:rel => "stylesheet", :href => "/css/style.css", :type => "text/css", :media => "all"}
  %body
    %div{:id => "header"}
      %h1
        %span
          yellow
          %font{:style => "color: #90b500;"}
            shovel
    %div{:id => "container"}
      %div{:id => "content"}
        = yield
      %div{:id => "footer"}
        %h2 &copy;2010 Yellow Shovel, LLC
        %div{:id => "dev_info"}
          %h3 Site built with
          %ul
            %li
              %a{:href => "http://nginx.net"} Nginx 
            %li
              %a{:href => "http://haml.hamptoncatlin.com/"} HAML
            %li
              %a{:href => "http://www.sinatrarb.com/"} Sinatra
            %li
              %a{:href => "http://www.ruby-lang.org"} Ruby
            %li
              %a{:href => "http://git.or.cz/"} Git
      %div{:id => "disqus_thread"}          
      :javascript 
        (function() {
         var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
         dsq.src = 'http://yellowshovel.disqus.com/embed.js';
         (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
           
  
        
